.course {
    padding: 3em 0;
    position: relative;
    background-color: #f2f5e1;
}

.course .course__title {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 0.75em;
}

.course .course__img {
    width: 120px;
    height: 160px;
    display: block;
    margin: 0 auto;
    margin-bottom: 3em;
}

.course .course__desc {
    width: min(600px, 90%);
    margin: 0 auto;
}

.course .course__desc h3 {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1em;
}

.course .course__desc p {
    line-height: 1.4em;
}

.course .course__desc table {
    line-height: 1.4em;
    margin-top: 2em;
    border: 1px solid black;
}

.course .course__desc table thead {
    font-size: 1em;
}

.course .course__desc table thead th, td {
    padding: 0.5em 0.75em;
    border: 1px solid black;
}

.course .course__desc table tbody {
    font-size: 0.9em;
}

.course .course__desc table tbody ol {
   padding-left: 1em;
}